
#header{
    text-align: center;
    border-style: solid rgb(220, 220, 224);
    background-color: rgba(236, 241, 241, 0.705);
     
   width: 800;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#form{ 
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#survey-form{
   
    text-align: center;
   background-color: rgba(255, 166, 0, 0.555);
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
}

#info{
    text-align: center;
    width: 800px;
    left: 50%;
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 166, 0, 0.555);
    
   
border-radius: 15px;
-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);


}

#lowerInfo{
    text-align: left;
    width: 800px;
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.596);
    
   
border-radius: 15px;
-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);


}

body{
    margin: 10px;
	
	font-family: 'Open Sans', sans-serif;
}

#description {
	text-align: center;
	font-size: 3vh;
}

input {
    border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
  }

  #nameinput{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
  }

  #ageinput{
    display: flex;
    flex-direction: row;
    
    justify-content: flex-start;
    justify-content:space-evenly 
  }

 .n {
     text-align: left;
 }

 .upperInput {
width: 88%;

 }

 h3{
     text-align: center;
 }

 #lowerdiv {
margin-left: 10%;

 }

 #button{
     text-align: center;
 }

 #submit-button{ 
    border-radius: 7px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
 }

 #comments {
     width: 50%;
     max-height: 20%;
    border-radius: 12px;
	-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
-moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);

 }

 h4{
     font-weight: bold;
 }
  