html {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  }
  
  div#main {
    padding: 25px;
    margin-top: 80px;
    color: white;
    text-align: center;
    font-size: medium;
  }

  
  div#tribute-info {
    margin: 0 auto;
    max-width: 70%;
  }
  
  
  
  @media (max-width: 520px) {
    span.navbar-text {
      display: none;
    }
    div#tribute-info {
      max-width: 95%;
    }
  }

 /* Nav */
  #tribute-link {
		background-color: #282828;
		text-align: center;
		position: fixed;
    background-attachment: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 10000;
		cursor: default;
		height: 3.5em;
		line-height: 3.5em;
    
	}

		#tribute-link ul {
			margin-bottom: 0;
			list-style: none;
			padding-left: 0;
		}

		#tribute-link li {
			display: inline-block;
			padding-left: 0;
		}

		#tribute-link a {
			-moz-transition: background-color .2s ease-in-out;
			-webkit-transition: background-color .2s ease-in-out;
			-ms-transition: background-color .2s ease-in-out;
			transition: background-color .2s ease-in-out;
			position: relative;
			display: block;
			color: #fff;
			text-decoration: none;
			outline: 0;
			font-weight: 600;
			border-radius: 8px;
			color: #fff;
			height: 2.5em;
			line-height: 2.5em;
			padding: 0 1.25em;
		}

			#tribute-link a:hover {
				color: #fff !important;
				background: #383838;
			}

			#tribute-link a.active {
				background: #484848;
			}

				#tribute-link a.active:before {
					content: '';
					display: block;
					position: absolute;
					bottom: -0.6em;
					left: 50%;
					margin-left: -0.75em;
					border-left: solid 0.75em transparent;
					border-right: solid 0.75em transparent;
					border-top: solid 0.6em #282828;
				}


  .container {
    margin: 0 auto;
    max-width: calc(100% - 50px);
    width: 1200px;
}

    .container.medium {
        width: 900px;
    }

    @media screen and (max-width: 1680px) {

        .container {
            width: 1200px;
        }

            .container.medium {
                width: 900px;
            }

    }

    @media screen and (max-width: 1280px) {

        .container {
            width: 960px;
        }

            .container.medium {
                width: 720px;
            }

    }

    @media screen and (max-width: 980px) {

        .container {
            width: 100%;
        }

            .container.medium {
                width: 75%;
            }

    }

    @media screen and (max-width: 736px) {

        .container {
            width: 100%;
            max-width: calc(100% - 30px);
        }

            .container.medium {
                width: 100%;
            }

    }

    /* New Nav */

    #newNav {
      background-color: transparent;
      text-align: center;
      left: 50%;
      margin-left: -5%;
      position:fixed;
      background-attachment: fixed;
      
      bottom: 0;
      width: 10%;
      z-index: 10000;
      
      
      cursor: default;
      height: 3.5em;
      line-height: 3.5em;
    }
  
      #newNav ul {
        margin-bottom: 0;
        list-style: none;
        padding-left: 0;
      }
  
      #newNav li {
        display: inline-block;
        padding-left: 0;
      }
  
      #newNav a {
        -moz-transition: background-color .2s ease-in-out;
        -webkit-transition: background-color .2s ease-in-out;
        -ms-transition: background-color .2s ease-in-out;
        transition: background-color .2s ease-in-out;
        position: relative;
        display: block;
        color: #fff;
        text-decoration: none;
        outline: 0;
        font-weight: 600;
        border-radius: 8px;
        color: #fff;
        height: 2.5em;
        line-height: 2.5em;
        padding: 0 1.25em;
      }
  
      #newNav a:hover {
          color: #fff !important;
          background: #383838;
        }
  
        #newNav a.active {
          background: #484848;
        }
  
        #newNav a.active:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -0.6em;
            left: 50%;
            margin-left: -0.75em;
            border-left: solid 0.75em transparent;
            border-right: solid 0.75em transparent;
            border-top: solid 0.6em #282828;
          }
  
  /* New Container */

    .newContainer {
      margin: 0 auto;
      max-width: calc(100% - 50px);
      width: 1200px;
  }
  
  .newContainer.medium {
          width: 900px;
      }
  
      @media screen and (max-width: 1680px) {
  
        .newContainer {
              width: 1200px;
          }
  
          .newContainer.medium {
                  width: 900px;
              }
  
      }
  
      @media screen and (max-width: 1280px) {
  
        .newContainer {
              width: 960px;
          }
  
              .container.medium {
                  width: 720px;
              }
  
      }
  
      @media screen and (max-width: 980px) {
  
        .newContainer {
              width: 100%;
          }
  
          .newContainer.medium {
                  width: 75%;
              }
  
      }
  
      @media screen and (max-width: 736px) {
  
        .newContainer {
              width: 100%;
              max-width: calc(100% - 30px);
          }
  
          .newContainer.medium {
                  width: 100%;
              } }

              

    /* Bio */   
    
    #bio {
      font-size: medium;

    }

    /* intro */   
    
    #intro {
      font-size: medium;
      left: 0;

    }

     /* Paragraph */   
    
     #Par {
       font-family: Helvetica;
      font-size: 22px;
      color: white;
      margin-left: 5px;
      margin-right: 5px;
      text-align: justify;
      
     
      word-spacing: 10px;
     }

    /* Button */          
  
     

      .button { position: absolute;
        background-attachment: fixed;

      }

      /* Images for works and achievements */

      #image{ align-self: center;

      }

      





  
 

