*{margin: 0;
padding: 0;

}

.container{
    display: grid;
    height: 100vh;
  
    grid-template-columns: auto 2fr auto;
    grid-template-rows: .0625fr 2fr auto;
    grid-template-areas:
     "header header header"
     "sidebar main rightsidebar"
     "footer footer footer";
     grid-gap: 10px;
     
}

#header{grid-area: header;
border: 2px solid black;
text-align: center;
}

main{background:coral;
grid-area: main;
max-width: 100%;}

#sidebar{background: cornflowerblue;
grid-area: sidebar;}

#rightsidebar{background: cornflowerblue;
    grid-area: rightsidebar;}

#footer{background: cornflowerblue;
    grid-area: footer;}


/* Rseponsiveness */

.squarecontainer{
   
    display: flex;
    flex-wrap: wrap;
    width: 649px;
    max-width: 100%;
    margin: auto;
  }
  
  .box{
    flex: 1 0 calc(25% - 10px);
    background: #E9D2FF;
  }
  
  .box:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  /* Chess board*/

#chessboard {

    border-radius: 11px;
    margin: auto;
    
    max-width: 100%;
    
   

    border: 3px solid #6D2700;
    box-shadow: 2px;
    box-shadow: #9A5422;

    background: repeating-radial-gradient( #7C3604 .5%,  #8B4513 1%);

    -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
}

