*{
margin:0;
padding: 0;

}

#header{
    text-align: center;
}

/* Outside Box*/
body{
    padding-bottom: 50%;
}

#chessboard {

    flex: 1 0 calc(25% - 10px);
    margin: 5px;

    border-radius: 11px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    
    justify-content: center;
    align-items: center;
    
    height:649px;
    max-height: 80%;
    width: 649px;
    max-width: 80%;
    resize: both;
    overflow: auto;

    border: 3px solid #6D2700;
    box-shadow: 2px;
    box-shadow: #9A5422;

    background: repeating-radial-gradient( #7C3604 .5%,  #8B4513 1%);

    -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    
    /*background: repeating-linear-gradient(#6D2700, #4E3300,  #6C511E);*/
}

/* Inside Box*/
 
#insidebox {

    border-radius: 3px;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height:86.5%;
    max-height: 100%;
    width: 86.5%;
    max-width: 100%;
    border: 3px solid #FFFFF1;
    background-color: #FFFFF1;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);

}

/* Woode Style Lighter*/
#Lwhite{
   
    height: 65px;
    max-height: 100%;
    width: 65px;
    max-width: 100%;
    resize: both;
    border: 1px solid #FFFFF1;
    background-color:  #FFFFF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-size: 27.5px;
    
    margin: -1px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
     
 
}

/* Woode Style Darker*/
#Lblack{
   
    height: 65px;
    max-height: 100%;
    width: 65px;
    max-width: 100%;
    resize: both;
    border: 1px solid #6C511E;
    background: repeating-radial-gradient( #4E3300 .3%, #7C3604 .5%,  #8B4513 1%);
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 100%;
   font-size: 27.5px;


   margin: -1px;
   -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    

}

#L{ display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    resize: both;
   
 
  
}

#L2{ display: flex;
    flex-direction: row;
  
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    resize: both;
  
}

/**/


