*{  margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header{ 
        text-align: center;}


/* Board */

#Board{
display: block;
margin: auto;
border-radius: 11px;
  
display: grid;
height: 649px;
width: 745.8813px;
max-width: 100%;
grid-template-columns: .8fr 8.4fr .8fr;
grid-template-rows: .8fr 8.4fr .8fr;
grid-template-areas: "top top top" "left inside right" "bottom bottom bottom";

-webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
    box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);


}

/* Board */
/*----------------------------------------------------------------*/

#upperoutside{ 
  display: grid;
  height: 51.92px;  
  grid-template-rows: repeat(10, 1fr);

  grid-template-areas:". . a b c d e f g h .";

  
  grid-area: top;

  background: repeating-radial-gradient(#006943 .1%, #00492f .2%, #006b42 .3%);
}

#a{ grid-area: a;}
#b{ grid-area: b;}
#c{ grid-area: c;}
#d{ grid-area: d;}
#e{ grid-area: e;}
#f{ grid-area: f;}
#g{ grid-area: g;}
#h{ grid-area: h;}


/*----------------------------------------------------------------*/

#outsideleft{
  display: grid;
  
  background: repeating-radial-gradient(#006943 .1%, #00492f .2%, #006b42 .3%);
  grid-area: left;

  justify-items: center;
}
#inside{ 
  background: repeating-radial-gradient(#faeede.1%, #fef9e3.2%, #fef2e1.3%);
  display: grid;
  justify-content: center;
  align-content: center;
  grid-area: inside;
}
#outsideright{
  display: grid;
  
  background: repeating-radial-gradient(#006943 .1%, #00492f .2%, #006b42 .3%);
  grid-area: right;

  justify-items: center;
  
}
/*----------------------------------------------------------------*/

#loweroutside{ 

  display: grid;
  height: 51.92px;  
  grid-template-rows: repeat(10, 1fr);

  grid-template-areas:". . a b c d e f g h.";

  background: repeating-radial-gradient(#006943 .1%, #00492f .2%, #006b42 .3%);
  grid-area: bottom;
}

#a1{ grid-area: a;}
#b1{ grid-area: b;}
#c1{ grid-area: c;}
#d1{ grid-area: d;}
#e1{ grid-area: e;}
#f1{ grid-area: f;}
#g1{ grid-area: g;}
#h1{ grid-area: h;}

/*----------------------------------------------------------------*/



/* Border */



/* Inside Grid */


.wrapper {
  
  width: 560px;
  margin: 0 auto;
  display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, 70px);
  grid-template-rows: 40px repeat(8, 70px) 40px;
  grid-auto-flow: row;
}
.wrapper-inner{
display: grid;
  grid-gap: 0;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: auto;
  grid-auto-flow: row;
  align-items: strech;
}

.box {
  resize: both;
  display: grid;
  justify-content: center;
  align-content: center;
  border: 1px solid #00492f;
  font-size: 150%;
  background: repeating-radial-gradient(#faeede.1%, #fef9e3.2%, #fef2e1.3%);
  color: #000;
  text-align: center;

  -webkit-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
  -moz-box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
  box-shadow: 0px 0px 5px 5px rgba(44,62,80,0.25);
}
.box-inner{
  text-align: center;
  align-self: center;
}
.top,
.bottom{
  display: grid;
  align-items: stretch;
  
}
.top {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 1;
}
.bottom {
  grid-column-start: 1;
  grid-column-end: 9;
  grid-row-start: 10;
  grid-row-end: 10;
}

.box:nth-child(-2n+9), 
.box:nth-child(9) ~ div:nth-child(-2n+16), 
.box:nth-child(17) ~ div:nth-child(-2n+25), 
.box:nth-child(25) ~ div:nth-child(-2n+32), 
.box:nth-child(33) ~ div:nth-child(-2n+41), 
.box:nth-child(41) ~ div:nth-child(-2n+48), 
.box:nth-child(49) ~ div:nth-child(-2n+57), 
.box:nth-child(57) ~ div:nth-child(-2n+64){
  background: repeating-radial-gradient(#006943 .1%, #00492f .2%, #006b42 .3%);
  max-width: 100%;
  resize: both;
}



/* Inside Grid */

/* Board */

/*----------------------------------------------------------------*/



  #BUTTON{display: block;
    margin: auto;}

    span{ color: white;}

    div{ font-size: 25px;
    color: white;}
  